{% load static %}

<!-- Menu -->
<div class="container my-5" style="background-color: #ffc0cb; padding: 2rem;">
    <div class="container-fluid" style="background-color: #ffffff; padding: 2rem;">
        <div class="row text-center">
            {% for pizza in pizzas %}
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card h-100 d-flex flex-column">
                    {% if ENVIRONMENT == 'production' %}
		    <p>DEBUG: Current S3 Base URL: {{ S3_BASE_URL }}</p>
                        <img src="{{ S3_BASE_URL }}{{ pizza.image.name }}" class="card-img-top" alt="{{ pizza.title }}">
                    {% else %}
                        <img src="{{ pizza.image.url }}" class="card-img-top" alt="{{ pizza.title }}">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ pizza.title }}</h5>
                        <p class="card-text">{{ pizza.description }}</p>

                        {% if user.is_superuser %}
                        <div class="mt-2">
                            <a href="{% url 'edit_pizza' pizza.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'delete_pizza' pizza.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Add the CSS here or in a separate stylesheet -->
<style>
    /* Ensure all images in the menu have the same size */
    .card-img-top {
        width: 100%; /* Make image fill the container width */
        height: 200px; /* Fixed height */
        object-fit: cover; /* Ensure the image covers the area, cropping if necessary */
    }

    @media (max-width: 768px) {
        .card-img-top {
            height: 150px; /* Adjust height for smaller screens */
        }
    }
</style>

