{% extends "base.html" %}
{% block content %}

<div class="container bg-white">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4 offset-lg-2">
			<div class="image-container my-5">
				<h1> {{ event.name }} </h1>
				<p> {{ event.start_date }}
				{% if event.image %}
				<a href="{{ event.image_url }}" target="_blank">
					<img
						class="card-img-top img-fluid"
						src="{{ event.image_url }}"
						alt="{{ event.name }}"
					/>
				</a>
				{% else %}
				<a href="">
					<img
						class="card-img-top img-fluid"
						src="/media/noimage.png"
						alt="{{ event.name }}"
					/>
				</a>
				{% endif %}
		        <p>{{ event.description }}</p>
			</div>
		</div>
{% endblock %}



