{% extends 'base.html' %}

<body>

    {% block content %}


    <form method="post" action="{% url 'bookings' %}">
        {% csrf_token %}
        <table>
            {% for booking in bookings_list %}


            <ul>
                <li>{{booking.name}}</li>
                <li>Booking ID: #{{booking.id}}</li>
                <li>Booking Date: {{booking.booking_date}}</li>
                <li>Address: {{booking.location}}</li>
                <li>Guest Numbers: {{booking.guest_number}}</li>
                <li>Message: {{booking.message}}</li>
                <li>Phone: {{booking.phone}}</li>
                <li>Status: {{booking.status}}</li>
            </ul>
        </table>
        <a class="btn btn-sm btn-info" href="{% url 'update_booking' booking.id %}">Update</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_booking' booking.id %}">Delete</a>
    </form>
    <br>

    {% endfor %}



    {% endblock content %}
</body>