{% extends 'base.html' %}

<body>

    {% block content %}


    <form method="post" action="{% url 'bookings' %}">
        {% csrf_token %}
        <table>

            {% for booking in bookings_list %}
            <strong>Date booked: {{booking.booking_date}}</strong>
            <a class="btn btn-sm btn-info" href="{% url 'update_booking' booking.id %}">Update</a>
            <a class="btn btn-sm btn-danger" href="{% url 'delete_booking' booking.id %}">Delete</a>

            <ul>
                <li>Booking ID: #{{booking.id}}</li>
                <li>Address: {{booking.location}}</li>
                <li>Guest Numbers: {{booking.guest_number}}</li>
                <li>Message: {{booking.message}}</li>
                <li>Phone: {{booking.phone}}</li>
                <li>Status: {{booking.status}}</li>

            </ul>
            <br />
        </table>
    </form>

    {% endfor %}



    {% endblock content %}
</body>