{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<a href="{% url 'view' %}">Go back</a>
<form method="POST">
    {% csrf_token %}

    <div  class="content-section d-flex justify-content-center">
        <fieldset  class="shadow-lg p-3 col-md-9 mb-5 mt-5 bg-white rounded">
            <h2 class="text-center">Create New Booking</h2>
            <div id='bookingform'>
            {{ form| crispy}}
            </div> 

            <input value="submit" type="submit" class="btn btn-primary mt-2"></input>
        </fieldset>
    </div>
</form>

{% endblock %}