
{% if request.user.is_authenticated %}
<p>{{request.user}}</p>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>

{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>
<h1>My booking list</h1>
<a href="{% url 'create_booking' %}">Create booking</a>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{booking.message}}</td>
        <td><a href="{% url 'booking_detail' booking.id %}">View</a></td>
        <td><a href="{% url 'update_booking' booking.id %}">Edit</a></td>
        <td><a href="{% url 'delete_booking' booking.id %}">Delete</a></td>
        {{booking.id}}
    </tr>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>