@import 'globals';
@import 'variables';

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&family=Nosifer&family=Roboto&family=Spline+Sans:wght@400;500;600;700&display=swap");
html {
font-size: 100%;
box-sizing: border-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

nav{
    .btn-primary{
        background-color: $primaryBth;
        &:hover{
            background-color: red;
        }
    }
    .navbar-brand--img {
        height: 5rem;
    }

    a{
        color: $textColor;
        text-decoration: none;
        transition: all 0.4s;
        font-weight: $fontWeight;
        &:hover{
            background-color: red;
        }
    }
    
    img{
        min-width: 100%;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: $fontWeight;
    color: $textColor;
}

