/* Core Styles */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@800&family=Nosifer&family=Roboto&family=Spline+Sans:wght@400;500;600;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
//to preload images - https://stackoverflow.com/questions/1373142/preloading-css-images
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
  content:url(/static/images/hero-image-1600X1200.png) url(/static/images/hero-image-1200X900.png)
   url(/static/images/hero-image-800px.png) url(/static/images/hero-image300px.png);   // load images
}

body {
  font-family: $Helvetica;
  background-color: #fff;
}

header {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

ul{
  list-style-type: none;
}

img{
  max-width: 90%;
}


*, *::before, *::after {
  box-sizing: inherit;
}