// Colors
$pink: #f4c2c3;
$light-blue: #8FDDE7;

// Spacing
$m-space: 15px;

// Fonts
$Helvetica:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$Rockwell:"Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;