
<div class="container">
    <h1 class="text-center">About Us</h1>
    <div class="row text-center">
        <div class="col-md-6">
            <img class="" src="/static/images/pizza.jpg" width="250px">
        </div>
        <div class="col-md-6">
            <p> Nags with Notions provides delicious, fresh pizzas for any event. It is run by Caroline and Tamara, who would love
                to add to the uniqueness of your special occasion. Book our service so you can have delicious pizzas at your event.</p>
        </div>
    </div>
</div>




