<footer>

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 mx-auto">
                    <div class="col-lg-4">
                        <img class="col-lg-4__logo__img mb-3" src="/static/admin/img/nags-with-notions-logo.webp"
                        srcset="/static/admin/img/nags-with-notions-logo100x95px.webp 200w" sizes='100vw'
                            alt="pink horse with Nags logo">
                        <p>Sourdough Pizzas from Meaths finest food producers</p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <h6 class="mt-4">CONTACT</h6>
                    <p class="mb-1">0863371314</p>
                    <p class="mb-1">caroline@nagswithnotions.ie</p>
                    <p class="mb-1">0867506453</p>
                    <p class="mb-0">tamara@nagswithnotions.ie </p>
                </div>
                <div class="col-lg-4 mx-auto">
                    <p><a class="text-dark" aria-label="facebook" href="https://m.facebook.com/p/Nags-with-Notions-Pizza-100094122740703/"><i class="fa-brands fa-facebook-f"></i> Facebook</p></a>
                    <p><a class="text-dark" aria-label="instagram" href="https://www.instagram.com/nagswithnotions/"><i class="fa-brands fa-instagram"></i> Instagram</p></a>
                    <p><a class="text-dark" aria-label="github" href="https://github.com/JWalshe86/"><i class="fa-brands fa-github"></i> Github</p></a>
                    <p><a class="text-dark" aria-label="linkedin" href="https://www.linkedin.com/in/john-walshe86/"><i class="fa-brands fa-linkedin"></i> Linkedin</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="mb-0">Copyrights all rights reserved</p>
                </div>
                <div class="col-auto">
                    <p class="mb-0">Designed by <a href="https://github.com/JWalshe86/">John</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>