{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg shadow py-3">

    <div class="container">

        <div class="d-flex flex-row d-flex justify-content-between navbar__contain-logo-toggle">
            <a class="navbar__logo" href="{% url 'home' %}">
                <img class="navbar__logo__img" src="{% static '/admin/img/nags-with-notions-logo.webp' %}"
                srcset="/static/admin/img/nags-with-notions-logo100x95px.webp 200w" sizes='100vw'
                    alt="nags with notions logo">
            </a>
            <button class="navbar__toggler toggler Btn navbar-toggler align-self-center ml-auto" title="button"
                type="button" data-toggle="collapse" data-target=".navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 navbarNav">
            <ul class="navbar-nav mr-auto collapse__list mx-auto">
                <li class="collapse__list__item border rounded">
                    <a class="nav-link collapse__content nav-link
                        {% if request.path == home_url %}active{% endif %}" aria-current="page"
                        href="{% url 'home' %}">Home</a>
                </li>
                <li class="collapse__list__item">
                    <a class="collapse__content nav-link border" href="{% url 'events' %}">Events</a>
                </li>
                {% if user.is_authenticated %}
                <li class="collapse__list__item">
                    <a class="collapse__content nav-link border" role="navigation" href="{% url 'view' %}">Your Bookings</a>
                </li>
                {% endif %}
                {% if perms.event.can_add_new_event %}
                <li class="collapse__list__item border">
                    <a class="collapse__content nav-link" href="{% url 'create_event' %}">Create Event</a>
                </li>
                {% endif %}
                <li>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'create_booking' %}" class="collapse__content nav-link border" aria-label="brings user to booking page" >Book Now!</a>
                    <div id="myAlert" class="alert alert-warning collapse">
                        <strong>You must login to book!</strong>
                        <a id="linkClose" href="#" class="close" >&times;</a>
                    </div>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <a href="{% url 'create_booking' %}" class="collapse__content nav-link border" aria-label="brings user to booking page" >Book Now!</a>
                    {% endif %}
                </li>
            </ul>



            <div class="p-1 m-3 list-unstyled">
                {% if request.user.is_authenticated %}

                        <div class="collapse__list__item nav-link text-dark">
                <div class="collapse__content nav-link ui simple dropdown item">
                {{request.user.username}} <i class="dropdown icon"></i>
                    <div class="menu">
                        <form class="ui large form" method="post"  action="{% url 'logout' %}">
                                {% csrf_token %}
                            <input class="ui button" type="submit" value="Sign out"/>
                        </form>
                    </div>
                </div>
                {% else %}
                <a class="text-dark btn btn-primary" href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<script src="{% static '/js/script.js'%}"></script>