{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Image -->
<style>
    .hero-container {
        background-image: url("{% static 'images/hero-image-horsebox.jpg' %}");
        background-size: cover; /* Ensure the image covers the entire container */
        background-position: center; /* Default for larger screens */
        background-repeat: no-repeat; /* Prevent repeating */
        height: 100vh; /* Full viewport height */
        width: 100vw; /* Full viewport width */
        display: flex; /* Center content */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically */
        overflow: hidden; /* Prevent scrolling issues */
    }

    /* Media query for mobile screens */
    @media (max-width: 768px) {
        .hero-container {
            background-position: left center; /* Focus on the left side of the image */
            background-size: cover; /* Ensure the image covers the container */
            height: 100vh; /* Full viewport height on mobile */
            width: 100vw; /* Full viewport width on mobile */
        }
    }
</style>

<div class="hero-container">
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div id="hero-text" class="container" style="display: flex; flex-direction: column; align-items: center;">
            <h6 class="display-4 text-white text-center">Nags With Notions</h6>
            <h1 class="lead text-white">Bespoke pizzas for your special event</h1>
        </div>
    </div>
</div>
<!-- /.Hero Image End -->

<!-- Contact Form -->
<div class="container mt-5">
    {% include "contact.html" %}
</div>

<!-- About Section -->
{% include "about.html" %}

<!-- Menu -->
<section id="menu" class="bg-primary-subtle mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 intro-text">
                <h2>Explore Our Menu</h2>
                <p>All ingredients have been sourced locally!</p>
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
            <!-- Menu tabs and content -->
            ...
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <!-- Menu items -->
            ...
        </div>
    </div>
</section>

{% endblock content %}
