#aboutImg{
    width: 50rem;
    height: 30rem;
    border-radius: 30%;
    margin-top:3rem;
    margin-bottom: 7rem;
}

.outerdiv{

    background-color: #f4c2c3;
    font-family: $Rockwell;

    div{
        background-color: #f4c2c3;
    }
}

#bknowlink {
    color: #0e6656;
    font-weight: 900;
}

// about us text
body > div > div.outerdiv > div > div > div:nth-child(2) > p:nth-child(1){
    margin-top: 10vh;
}
@media (max-width: 768px){
    body > div > div.outerdiv > div > div > div:nth-child(2) > p:nth-child(1){
      margin-top: -6vh;
    }
}