#aboutImg{
    width: 50rem;
    height: 30rem;
    border-radius: 30%;
    margin-top:3rem;
    margin-bottom: 7rem;
}

.outerdiv{
    
    background-color: #f4c2c3;
    font-family: $Rockwell;

    div{
        background-color: #f4c2c3;
    }
}