
.btn {
    min-width: 100px;
    padding: 10px;
    font-size: 1.2rem;
    font-family: $Rockwell;
    font-weight: bold;
    $button-color: #e9e1eb;
    background-color: $button-color;
    color: contrast-switch($button-color, #060305, #eee);
    border: 1px solid #a21280;
    margin-top: 5px;
    margin-bottom: 5px;

    @include border-radius(5px);
  }
  .btn-warning {
    // pseudo selectors
    &:hover,
    &:focus{
      background-color: $warning-red;
      color:#ffffff ;
      border-color: white;
    }
    //selector styles
    @extend .btn;
    border-color: $warning-red;
    color: $warning-red;
  }

  .btn-primary{
    // pseudo selectors
    &:hover,
    &:focus{
      background-color: $light-blue;
      border-color: #ffffff;
      color: #ffffff;
    }
    //selector styles
    @extend .btn;
    border-color: $light-blue;
    color: $light-blue;
  }
