footer {
    background-color: $pink;
    font-weight: bold;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: $Rockwell;

    div.footer-top > div > div > div:nth-child(3) > p > a {
      text-decoration: none;
    }

    .footer-top div > div > div:nth-child(2) > h6{
      padding-left: 3rem;
    }
    .col-lg-2.mx-auto{
      padding-left: 3rem;
    }

    .footer-bottom {
      // pseudo selectors
      &.a {
        color: black;
      }

      .mb-0 a{
        color: black;
        font-size: larger;
        text-decoration-line:underline;
      }

        padding-top: 1vh;
        border-top: 2px solid rgba(255, 255, 255, 0.4);
      }
      // style selectors
      .col-lg-4 {
        max-width: none !important;
        margin-left: -17px;

        p {
          padding-left: 3rem;
        }

      }
      .col-lg-4__logo__img {
        padding-left: 3rem;
      }

      .col-lg-4__social-links.mx-auto a{
        color: black;
        font-weight: normal;
        font-size: 5vh;
        margin-left: -$m-space;
        margin-right: 2vw;
        text-decoration: none !important;
      }

      .col-lg-4__social-links:hover, footer .col-lg-4 a:hover {
        color: $pink;
      }
  }
