#id_message:hover, #id_guest_number:hover, #id_location:hover, #id_booking_date:hover{
    background-color: rgba(199, 126, 189, 0.2);
}

#bookings_header{
    
    padding: 10px;
    @include border-radius(20px);
    background: linear-gradient(90deg, $pink 100%, white 43%, white 0%);
    color: white;

    
}

.container{
    @include center-block();
}
