/* page header */

.bg-cover {
    background-position: center center!important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  
  
  .hero-image{
    background: linear-gradient(rgba(0, 0, 0, 0.3), #000), url(/static/images/hero-image-1600X1200.webp);
    height: 100vh; 
    width: 100vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background-size: cover;
    background-position: center;
    margin-top: -2%;
  }
  @media (max-width: 350px){
    .hero-image{
      background: linear-gradient(rgba(0, 0, 0, 0.3), #000), url(/static/images/hero-image300px.webp);
    }
  }
  @media (max-width: 800px){
    .hero-image{
      background: linear-gradient(rgba(0, 0, 0, 0.3), #000), url(/static/images/hero-image-800px.webp);
    }
  }
  @media (max-width: 1200px){
    .hero-image{
      background: linear-gradient(rgba(0, 0, 0, 0.3), #000), url(/static/images/hero-image-1200X900.webp);
      height: 60vh;
    }
  }
  @media (max-width: 768px){
    #hero{
      height: 55vh !important;
    }
    .bg-cover{
      background-position: 0% !important;
    }
    .hero-image{
      height: auto;
      background-position: center center!important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
    #hero-text{
      margin-top: 10vh;
    }
}
  
  #hero-text{
    font-family: $Rockwell;
    background-color:  #f4c2c34f;
    @include border-radius(10px);
    padding-top: 5px;

    #bknowlink{
      color: white;
      border-radius: 5px;
      font-size: 2rem;
      padding-bottom: 5px;
      font-weight: 800;
    }

  }
  
  
  .intro-text {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .intro-text p {
    max-width: 500px;
    margin: 16px auto 0 auto;
  }