/* site header */
body > nav > div > div.navbar-collapse.collapse.w-100.order-1.order-md-0.navbarNav > ul{
  margin-right: inherit !important;
  font-size: 1.25rem;
  background-color:#d9499a;
}


.navbar {
    background-color: $pink;

    .container{
      padding-bottom: 30px;
    }

    @media screen and (max-width: 992px) {
      .container{
        display: inline-block !important;
      }
    }
    .collapse__content {
      font-family: $Rockwell;
      color: black !important;
      transition: all 0.4s;
      font-weight: 600;
    }
    .collapse__content:hover {
      background-color: white;
    }
    .collapse__btn-primary {
      background-color: $light-blue;
      padding: $m-space 38px;
      font-weight: 500;
      border-radius: $m-space;
      color: #222;
      border-color: $light-blue;
    }
    .collapse__btn-primary:hover {
      background-color: $pink;
      color: #222;
      border-color: $light-blue;
    }

  }
  .navbar__logo__img {
    height: 5rem;
    min-width: 100%;
  }

  .navbar-dark .navbar-toggler {
    border-width: 2px;
    border-color: rgb(255, 255, 255);
  }