
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@800&family=Nosifer&family=Roboto&family=Spline+Sans:wght@400;500;600;700&display=swap');

html{
    font-size: 100%;
    // element can have padding that doesn't add to width
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    font-family: Spline Sans, sans-serif;
    line-height: 1.7;
    color: #777;
    background-color: var(--bs-primary-bg-subtle)!important;
}

