// sass variables
$primaryBackgroundColor: #f4c2c3;
$secondaryBackgroundColor : #B6E5D8;
$tertiaryBackgroundColor: #FBE5C8;
$quaternaryBackgroundColor: #8FDDE7;
$textColor: #222;
$fontWeight: 600;
// sass variables close